extends ./admin

block main
    table(lay-filter="comment")#commentsTable

block scripts
    script.
        layui.use('table', function () {

            var table = layui.table,
                layer = layui.layer,
                $ = layui.$

            table.render({
                elem: '#commentsTable',
                url: '/backstage/comment',
                cols: [[
                    {
                        field: 'title',
                        title: '被评文章'
                    },
                    {
                        field: 'content',
                        title: '评论内容'
                    },
                    {
                        field: 'created',
                        title: '评论时间'

                    },
                    {
                        title: '操作',
                        toolbar: '<div><button lay-event="del" class="layui-btn layui-btn-xs layui-btn-danger">删除</button></div>'

                    }
                ]]
            })
            
            table.on('tool(comment)', function (obj) {


                if (obj.event !== 'del') return
                var data = obj.data
                layer.confirm('您确定要删除吗？', function (index) {
                    layer.close(index)

                    $.ajax({
                        method: 'delete',
                        url: '/comment/'+ data.id,
                        success: function (res) {
                            if (res.status) {
                                layer.open({
                                    icon: 1,
                                    title: false,
                                    content: '删除成功',
                                    end: function () {
                                        table.reload("commentsTable")
                                    }
                                })
                            } else {
                                layer.msg('删除失败')
                            }
                        },
                        error: function () {
                            layer.msg('删除失败')
                        }
                    })

                })


            })
            

        })