div.tips
    h2 关于本站：
    ul
        li.first 本站采用pug模板后端渲染
        li 页面端：<span>html / css / js</span>
        li 第三方库：<span>jQuery / layui</span>
        li 服务端：<span>NodeJs</span>
        li 数据库：<span>MongoDB</span>
        //- li 服务器：<span>ECS云服务器</span>